.formDiv{
    display: flex;
    flex-direction: column;
    width: 60%; 
}

.dataCard{
    background-color:'#FBFBF8';
    display: flex;
    flex-direction: column;
    width: 100%; 
    border-width: 1px; 
    border-color:#D3AA4EEE;
    box-shadow: 10px 4px 29px -9px rgba(0,0,0,0.3);
    -webkit-box-shadow: 10px 4px 29px -9px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 4px 29px -9px rgba(0,0,0,0.3);
    transition:0.5s;
}

.dataCard:hover{
    background-color: #e3ca90b8;
    border-color:#e3ca90b8;
    box-shadow: 10px 4px 29px -3px rgba(0,0,0,0.59);
    -webkit-box-shadow: 10px 4px 29px -3px rgba(0,0,0,0.59);
    -moz-box-shadow: 10px 4px 29px -3px rgba(0,0,0,0.59);
}

.trashIcon:hover{
    transition:0.5s;
    color:#C34632;
}

.saveIcon:hover{
    transition:0.5s;
    color:#10A5F5;
}


.loadingOperationDimContainer{
  position: fixed; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(128,128,128,0.6);
  top: 0; bottom:0; left:0; right:0;
}
/* style={{marginBottom:-5, fontSize:20, fontWeight:'bold'}} */

.UD-Text1{
    margin-bottom:-0.5em;
    font-weight:bold;
    font-size:1.2em;
}

.UD-Text2{
    margin-bottom:0.2em;
    font-size:1em;
}

.UD-Text3{
    margin-bottom:-1em;
    color: rgb(90,90,90);
    font-size:0.8em;
}

.updateMessage{
    margin-left:1em;
    color:rgb(147, 152, 228);
}